body{
    /* border: 1px solid black; */
    padding-bottom: 50px;
    
}
/* .Appo{
    justify-content: center;
    align-items:center ;
} */
/* span{
    border: 1px solid black;
} */
img{
    width: 100%;
    height: auto;
}