.main{
    display: flex;
    flex-direction: row;
    border: 5px solid rgb(34, 150, 143);
    border-radius: 0.5rem;
    justify-content: space-between;
    width: 30rem;
    background-color: #69E4DC;
    height: 15rem;
    opacity: .9;
    text-align: center;
    border-bottom-left-radius: 9999px;
    border-top-left-radius: 9999px;
}
.main:hover .boton{
    visibility: visible;
}

.imgDiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.infoDiv{
    display: grid;
    grid-template-rows: repeat(8,1fr);
    
}
.boton{
    background-color: #FF7070;
    border-radius: 9999px;
    width: 1.5rem;
    grid-row: 1;
    height: 1.5rem;
    border: rgb(34, 150, 143) 3px solid;
    transition: .3s;
    visibility: hidden;
    
}
.boton:hover{
    background-color: #FF1111;
    
}
.boton:active{
    background-color: #111111;
    border: rgb(34, 150, 143) 3px solid;
}
.boton:checked{
    border: rgb(34, 150, 143) 3px solid;
}
.botonBox{
    padding-right: 4px;
    padding-top: 4px;
    /* padding-bottom: 4px; */
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row-reverse;
    
}
.maxMin1,.maxMin2{
    display: grid;
    grid-template-rows: 1fr 1fr;
    /* border: 1px black solid; */
    
}
.infoDiv,.imgDiv{
    /* border: 1px black solid; */
    width: 50%;
}
.nameDiv{
    /* border: 1px solid black; */
    grid-row: 2/4;
    font-size: 2.5rem;
    font-family: 'Raleway', sans-serif;
}
.maxMin1{
    grid-row: 4/6;
}
.maxMin2{
    grid-row: 6/8;
}
.maxTx,.minTx{
    grid-row: 1;
    /* border: 1px black solid; */
    margin: 0;
    padding-top: 4px;
    font-size: 1.5rem;
}
.maxT,.minT{
    grid-row: 2;
    /* border: 1px black solid; */
    margin: 0;
    padding-bottom: 4px;
}
img{
    /* border: 1px solid black; */
    width: 100%;
    border-right: rgb(34, 150, 143) 5px solid;
    border-style: dashed;
    border-top: none;
    border-bottom: none;
    border-left: none;
}